<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-primary">
    <a class="navbar-brand" href="#"><i class="far fa-compass fa-2x"></i> Northwind</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-box fa-lg"></i> Products
                </a>
                <div class="dropdown-menu bg-primary" aria-labelledby="productDropdown">
                    <a class="dropdown-item" href="/Product/Category"><i class="fas fa-box-open fa-lg"></i> Browse Categories</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-bullseye fa-lg"></i> Product Search</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fas fa-cash-register fa-lg"></i> Current Discounts</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="customerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-book-reader fa-lg"></i> Customer
                </a>
                <div class="dropdown-menu bg-primary" aria-labelledby="customerDropdown">
                    <a class="dropdown-item" href="#"><i class="fas fa-broadcast-tower fa-lg"></i> Account</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-award fa-lg"></i> Register</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-bolt fa-lg"></i> Sign In</a>
                </div>
            </li>
        </ul>
        <form class="form-inline ml-auto d-none d-md-block">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Products" aria-label="Search">
            <button class="btn btn-danger my-2 my-sm-0" type="submit"><i class="fas fa-search"></i><span> Search</span></button>
        </form>
    </div>
</nav>
    <div class="container">
        @RenderBody()
    </div>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <object data="media/toast.wav"></object>
    <script>
        $(function(){
            // preload audio
            var toast = new Audio('media/toast.wav');

            $('.code').on('click', function(e) {
                e.preventDefault();
                // first pause the audio (in case it is still playing)
                toast.pause();
                // reset the audio
                toast.currentTime = 0;
                // play audio
                toast.play();
                $('#toast').toast({ autohide: false }).toast('show');

                //grab data to put into toast
                let discountCode = $(e.target).data('code');
                let productName = $(e.target).data('product');

                //grab toast elements to put data into
                let toastCodeText = $("#toast div strong#code");
                let toastProductName = $("#toast div strong#product");

                //update toast elements w/ data
                toastCodeText.html(discountCode);
                toastProductName.html(productName);



            });
        });
        $(document).keyup(function(e) {
            if (e.key === "Escape") {
                $('#toast').toast('hide');
            }
        });        
    </script>
</body>
</html>