@using Module5.Models
@model IEnumerable<Product>

<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-3 text-primary">ಠ_ಠ</h1>
        <p class="lead text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <hr class="my-4">
        <p>Proin euismod felis sit amet turpis posuere molestie. Nullam sapien tellus, vehicula id dapibus vitae, commodo nec turpis. Curabitur non enim a ante faucibus consequat et vitae lacus. Vivamus feugiat aliquet leo at tincidunt. Aenean in orci felis. Nullam commodo congue pulvinar. Nullam a vehicula orci. Mauris non sodales lectus, non lacinia lectus.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Morbi nec ex erat.</a>
    </div>
</div>